weather-api/deloitteweather2/src/main/mule/deloitteweather2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a1bdc26e-547c-44b0-9d97-81ce6c8416bf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="d76b2dcc-9ecb-4863-817d-c208f6adfb44" >
		<wsc:connection wsdlLocation="http://localhost:8080/GlobalWeather?WSDL" service="GlobalWeather" port="GlobalWeatherSoap" address="http://localhost:8080/GlobalWeather" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<xml-module:config name="XML_Config" doc:name="XML Config" doc:id="1838f657-491f-41d1-a702-23f958bc7eab" />
	<flow name="deloitteweather2Flow" doc:id="97e40836-e773-40b6-a1c8-b00d60fc9905" >
		<http:listener doc:name="Listener" doc:id="f7394041-f9ff-4e26-8d3f-28cd7a56766a" config-ref="HTTP_Listener_config" path="/get-weather">
			<http:error-response statusCode="404" />
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="16369914-fc9e-4955-9c80-bcf886356e01" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetWeather: {
		ns0#CityName: attributes.queryParams.CityName,
		ns0#CountryName: attributes.queryParams.CountryName
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<wsc:consume operation="GetWeather" doc:name="GetWeatherConsume" doc:id="8b173074-d4ec-4768-a87f-2c232e6297fd" config-ref="Web_Service_Consumer_Config">
		</wsc:consume>
		<logger level="INFO" doc:name="Logger" doc:id="e865d5d4-c017-4261-9a0b-09328d652029" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="4c9b9b04-dc30-495b-98b5-d1a3c987d56d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	
	weather: payload.body.GetWeatherResponse
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="deloitteweather2Flow1" doc:id="be20ed8f-5945-4d86-b08d-5d0861a96927" >
		<http:listener doc:name="Listener" doc:id="4245c61e-2774-4e17-8f6f-c24e65b3dcb0" config-ref="HTTP_Listener_config" path="/GetCitiesByCountry"/>
		<ee:transform doc:name="Transform Message" doc:id="a441a23b-1f71-423f-9398-dc09fece0591" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetCitiesByCountry: {
		ns0#CountryName: attributes.queryParams.CountryName
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="cdb8da4f-889f-49b0-b951-551695c9c0c1" config-ref="Web_Service_Consumer_Config" operation="GetCitiesByCountry"/>
		<logger level="INFO" doc:name="Logger" doc:id="6ffbfa63-367d-4936-9657-823616570ea1" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="d3537928-7f6d-4bda-bcbd-ceef9e4d1538" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/XML
---
{
	Cities: payload.body.GetCitiesByCountryResponse
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
